<!DOCTYPE html>
<html>
<head>
	<title>
		{% block head_title %}
			FirsPythonPage
		{% endblock head_title %}
	</title>

	{% include 'snippets/css.html' %}	
</head>
<body>	
	<!-- <p>
		This is 
		<code>
			{% verbatim %} 
				{{ html_var }} 
			{% endverbatim %}
		</code> 
		comming through!
	</p>
	<p>
		{% if num is not None %}
			The random number is: {{ num }}
		{% endif %}
	</p>	
	<p>
		{% if bool_item %}
			Current user is: {{ user }}
		{% endif %}
	</p>
	<p>
		{% for some_item in some_list %}
			{% if some_item|divisibleby:"2" %}
				Even number: 
			{% endif %}
			{{ some_item }} <br/>
		{% endfor %}
	</p>
	<p>Some item is: {{ some_item }}</p> -->

	{% include 'snippets/nav.html' %}	

	<div class="container">
		{% block content %}

		{% endblock content %}
	</div>

	{% include 'snippets/js.html' %}	
</body>
</html>